input::-webkit-input-placeholder {
  font-size: 20px;
}

textarea::placeholder {
  font-size: 26px;
}

.place-holder-center::placeholder {
  color: #f6b3c5;
  line-height: 300px;
  text-align: center;
  vertical-align: middle;
}

#post-container > div[contentEditable="true"]:empty::before {
  content: "Bạn đang nghĩ gì thế";
  color: #aaa;
}

/* Căn giữa nội dung trong phần tử contentEditable */
#post-container > div[contentEditable="true"].place-holder-center {
  display: flex;
  justify-content: center; /* Căn giữa theo chiều ngang */
  align-items: center; /* Căn giữa theo chiều dọc */
  outline: none;
  white-space: normal; /*Giữ định dạng văn bản */
  word-break: break-all;
}

/* Đảm bảo con trỏ chuột hiển thị như văn bản */
#post-container > div[contentEditable="true"] {
  cursor: text; /* Con trỏ chuột mặc định khi trong chế độ editable */
}
